@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Navigation*/
nav{
    background-color: #574f438a;
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
}

ul{
    font-family: 'EB Garamond', serif;
    font-style: none;
    display: flex;
    flex-direction: row;
    list-style: none;
    /*gap: 2rem;*/
    color: wheat;
    font-size: 15px;
    align-items: center;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
}

ul li ul.dropdown li {
    display: block;
}

ul li ul.dropdown{
    width: 100%;
    background: #a4a099;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover{
    /*background: #000;*/
    color: black;
}

ul li:hover ul.dropdown{
    display: block;
}

.logo{
    width: 50px;
    height: auto;
}

/*Head*/
.Head-threats{
    background-color: #00008b;
    color: #ffffffc2;
    height: 400px;
    padding: 20px;
    background:  linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)) , url(../Assets/turtle\ 12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: larger;
    font-family: 'Josefin Sans', sans-serif;
}

/*Threats photo and information*/
.Fisher-Bycatch{
    width:30rem;
    height:20rem;
}

.fisher-bycatch p {
    position: absolute;
    top: 85%;
    padding-left: 35%;
    padding-right: 1%;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Nixie One', cursive;
    font-size: small;
   
}

.fisher-bycatch h2{
    position: absolute;
    top: 80%;
    padding-left: 35%;
    font-family: 'Playfair', serif;
}

.Coastal-Development{
    width:30rem;
    height:20rem;
}

.coastal-development p {
    position: absolute;
    top: 135%;
    padding-left: 35%;
    padding-right: 1%;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Nixie One', cursive;
    font-size: small;
   
}

.coastal-development h2{
    position: absolute;
    top: 130%;
    padding-left: 35%;
    font-family: 'Playfair', serif;
}

.Pollution-Pathogens {
    width:30rem;
    height:20rem;
}

.pollution-pathogens p {
    position: absolute;
    top: 175%;
    padding-left: 35%;
    padding-right: 1%;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Nixie One', cursive;
    font-size: small;
   
}

.pollution-pathogens h2{
    position: absolute;
    top: 170%;
    padding-left: 35%;
    font-family: 'Playfair', serif;
}

.Direct-Take {
    width:30rem;
    height:20rem;
}

.direct-take p {
    position: absolute;
    top: 225%;
    padding-left: 35%;
    padding-right: 1%;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Nixie One', cursive;
    font-size: small;
   
}

.direct-take h2{
    position: absolute;
    top: 220%;
    padding-left: 35%;
    font-family: 'Playfair', serif;
}

.Climate-Change {
    width:30rem;
    height:20rem;
}

.climate-change p {
    position: absolute;
    top: 272%;
    padding-left: 35%;
    padding-right: 1%;
    font-family: 'Castoro Titling', cursive;
    font-family: 'Nixie One', cursive;
    font-size: small;
   
}

.climate-change h2{
    position: absolute;
    top: 268%;
    padding-left: 35%;
    font-family: 'Playfair', serif;
}

/*Footer*/
.foot{
    background-color: #d6d4d4;
    background-repeat:no-repeat;
    background-size:cover;
    color:rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    margin-top: 0%;
}

 /*Positioning the references*/
 .reference{
     display: grid;
     padding: 10px;
 }

 /*Responsive nav*/
@media only screen and (max-width:600px){
    nav ul{
        height: 230px;
        flex-direction: column;
        text-align: right;
    }
}

@media only screen and (max-width:600px){
    .Head-threats h1{
        margin-top: -11%;
    }
}

@media only screen and (max-width:600px){
    .Head-threats p{
        font-size: 94%;
    }
}
  
@media only screen and (max-width:600px){
    .Fisher-Bycatch {
        margin-top: 10%;
        width: 23rem;
        height: 22rem;
    }
}

@media only screen and (max-width:600px){
    .fisher-bycatch h2{
        margin-top: 44%;
        margin-left: -17%;
    }
}
  
@media only screen and (max-width:600px){
    .fisher-bycatch p{
        margin-top: 141%;
        font-size: 10px;
        margin-left: -34%;
    }
}

@media only screen and (max-width:600px){
    .Coastal-Development {
        margin-top: 52%;
        width: 23rem;
        height: 22rem;
    }
}

@media only screen and (max-width:600px){
    .coastal-development h2{
        margin-top: 113%;
        margin-left: -21%;
    }
}

@media only screen and (max-width:600px){
    .coastal-development p{
        margin-top: 209%;
        font-size: 10px;
        margin-left: -34%;
    }
}
  
@media only screen and (max-width:600px){
    .Pollution-Pathogens {
        margin-top: 77%;
        width: 23rem;
        height: 22rem;
    }
}

@media only screen and (max-width:600px){
    .pollution-pathogens h2{
        margin-top: 223%;
        margin-left: -26%;
    }
}

@media only screen and (max-width:600px){
    .pollution-pathogens p{
        margin-top: 319%;
        font-size: 10px;
        margin-left: -34%;
    }
}

@media only screen and (max-width:600px){
    .Direct-Take {
        margin-top: 103%;
        width: 23rem;
        height: 22rem;
    }
}

@media only screen and (max-width:600px){
    .direct-take h2{
        margin-top: 342%;
        margin-left: -9%;
    }
}

@media only screen and (max-width:600px){
    .direct-take p{
        margin-top: 438%;
        font-size: 10px;
        margin-left: -34%;
    }
}

@media only screen and (max-width:600px){
    .Climate-Change {
        margin-top: 98%;
        width: 23rem;
        height: 22rem;
    }
}

@media only screen and (max-width:600px){
    .climate-change h2{
        margin-top: 459%;
        margin-left: -15%;
    }
}

@media only screen and (max-width:600px){
    .climate-change p{
        margin-top: 557%;
        font-size: 10px;
        margin-left: -34%;
    }
}

@media only screen and (max-width:600px){
    .foot{
        margin-top: 108%;
    }
}

@media only screen and (max-width:600px){
    .logo{
        margin-top: -48%;
    }
}